@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  @apply relative z-10 flex justify-between items-center flex-col w-screen h-screen mx-auto sm:px-16 px-6;
}

/* Nav/Header component */
.black_btn {
  @apply relative tracking-[1px] text-neutral-700/60 drop-shadow-md hover:text-gray-700 text-sm lg:text-lg flex items-center justify-center;
}
.black_underline {
  @apply relative tracking-[1px] text-gray-700 text-sm lg:text-lg decoration-[1.5px];
}
.black_btn::after {
  @apply content-[''] bg-gray-700 h-[1.5px] w-[0%] left-0 -bottom-[3px] rounded-xl absolute duration-300;
}
.black_btn:hover::after {
  @apply w-[100%];
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[150px] flex flex-col gap-2 justify-end items-end drop-shadow-md z-30;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}

@keyframes slideInLeft {
  from {
    transform: translateY(-60px);
    opacity: 0%;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes opacityIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.luisMeraz {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.actor {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

/* Footer Styles */
.footer_email {
  @apply text-neutral-700/60 drop-shadow-md flex justify-center pb-10 font-mono text-sm;
  animation-name: opacityIn;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.social_media_links {
  @apply flex p-3 justify-center;
  animation-name: opacityIn;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.socials_logo {
  @apply px-0.5;
}

/* Resume Page */
.resume_section {
  @apply container flex flex-col sm:flex-row;
}

.resume_section_title {
  @apply text-3xl font-semibold basis-2/6 pb-5 font-mono;
}
.resume_body {
  @apply basis-4/6 text-sm font-light text-neutral-700/60 font-mono;
}

.page_heading_mobile {
  @apply text-3xl pb-[4rem] sm:hidden text-neutral-700/80 tracking-widest font-mono;
}

/* Gallery Page */
.reel {
  @apply pb-[3rem] min-[765px]:h-[12rem] min-[765px]:w-auto min-[1024px]:h-[15rem] min-[1024px]:w-auto min-[1450px]:h-[20rem] min-[1450px]:w-auto;
}
.reels_section {
  @apply flex flex-col min-[765px]:flex-row w-full justify-center pb-[5rem];
}
.gallery_titles {
  @apply font_jost tracking-[4px] pb-7 min-[765px]:pb-[4rem] text-2xl min-[765px]:text-3xl font-extrabold;
}
.headshot_div {
  @apply flex flex-col min-[1160px]:flex-row py-[4rem] w-full justify-center items-center pb-[7rem];
}

.font_jost {
  font-family: "Jost", sans-serif;
}

/* Press Page */

.press_cards_container {
  @apply flex flex-wrap w-full justify-center items-start;
}

.press_card {
  @apply block bg-white rounded-md w-[18rem] h-[27rem] justify-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] m-4;
}

.press_card_text {
  @apply flex flex-col justify-center items-center h-full;
}
